td {
    background-color: rgb(136, 128, 128);
    width: 75px;
    height: 75px;
    text-align:center;
   
}

.center {
 position:absolute;
 top:50%;
 left: 50%;
 transform: translate(-50%, -50%);   
}

.Black {
    width: 35px;
    height: 35px;
    padding: 10px;
    background-color: Black;
    border: 1px solid White;
    border-radius: 50px;
    margin: auto;
}

.White {

    width: 35px;
    height: 35px;
    padding: 10px;
    background-color: White;
    border: 1px solid Black;
    border-radius: 50px;
    margin: auto;
}


.testing {
    background: linear-gradient(to bottom right, Black, #565656);
    box-shadow: 1px 1px 6px;
    border-radius:50%;
}

.test {
    background-color: White;
    border-radius: 50%;
    border-style: solid;
    background: linear-gradient(to bottom right, Black, #565656);
}


#scoreboard {
    
    position:fixed;
    top:50%;
    transform: translate(0%, -50%);   
}

#normalMode {
    position:absolute;
    top:0;
    right:7.5%;
    background-color: rgb(194, 182, 182);
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border:3px black;
}

#AIMode {
    position:absolute;
    top:7.5%;
    right:7.5%;
    background-color: rgb(194, 182, 182);
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
}

